*.elc
auto-save-list
elpa
recentf
.directory
network-security.data
.cache/
backups/
custom.el
eln-cache/
prescient
racket-mode/
straight/
transient/
el-get/
bookmarks
projectile-bookmarks.eld
.org-id-locations
